
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$thin-border: 2px solid $red;

body{
  padding-top: 60px;
}

.month{
  display: inline;
}

.calendar-nav{
  display: inline;
}

.calendar__banner--month{
  text-align: center;
}

.table{
  height: 50vh;
  text-align: center;
}

.current{
  background-color: #404347;
}

@media screen and (max-width: 768px) {
    body { padding-top: 30px; }
}